.gameStatus {
    background-color: #333;
    padding: var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    margin-bottom: var(--mantine-spacing-md);
  }
  
  .timer {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .sectionLabel {
    color: var(--mantine-color-gray-5);
    margin-top: var(--mantine-spacing-md);
  }
  
  .avatar {
    border: 2px solid var(--mantine-color-gray-7);
  }
  
  .statsContainer {
    width: 100%;
    text-align: center;
    margin: var(--mantine-spacing-md) 0;
  }
  
  .buttonContainer {
    display: flex;
    gap: var(--mantine-spacing-xs);
    width: 100%;
    margin-top: var(--mantine-spacing-md);
  }
  
  .actionButton {
    flex: 1;
    text-transform: uppercase;
    font-weight: 500;
  }