# macOS
*.DS_Store

# Swap files
*.sw?
.#*
*#
*~

# Eclipse files
.classpath
.project
.settings

# Build folders
bin
build
target

# Maven
dependency-reduced-pom.xml

# Sublime Text
*.sublime-*

# Temporary files
/scratch

# Gradle
.gradle

# IntelliJ IDEA
*.iml
.idea

# Documentation
README.html

# Specific application.yml file
application.yml

# Ignore application.yml specifically in this path
complete/src/main/resources/application.yml